<!DOCTYPE html>
html(lang='en')
	include includes/head.pug
	body.index
		.wrapper
			include includes/header.pug

			.farewell.
				<p><strong>Where's the El? is shutting down in November 2020.</strong> The links below remain active until then but forward to the <a href="https://www.transitchicago.com/traintracker/">CTA's own train tracker site</a>. We recommend <a href="https://apps.apple.com/us/app/transit-stop-cta-tracker/id414569920">Transit Stop</a> and <a href="https://transitapp.com/">Transit</a>, two excellent apps. Thanks for riding with the CTA!</p>

				<iframe src="https://open.spotify.com/embed/track/58nPDufBVhMa2bT8G59CzS" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

			//- section.nearest-station-wrap
				//- a.get-nearest-link(href='#') Find Nearest Station

			section.route-list
				include includes/lines/red.pug
				include includes/lines/brown.pug
				.yellow-orange
					include includes/lines/yellow.pug
					include includes/lines/orange.pug
				include includes/lines/green.pug
				include includes/lines/purple.pug
				include includes/lines/pink.pug
				include includes/lines/blue.pug

			include includes/footer.pug
