.route(data-route-code='Blue')
	.route-title Blue
	.station-list
		ul
			li.airport
				a(href='/s/40890', title="O'Hare") O'Hare
			li
				a(href='/s/40820', title='Rosemont') Rosemont
			li
				a(href='/s/40230', title='Cumberland') Cumberland
			li
				a(href='/s/40750', title='Harlem') Harlem
			li
				a(href='/s/41280', title='Jefferson Park') Jefferson Park
			li
				a(href='/s/41330', title='Montrose') Montrose
			li
				a(href='/s/40550', title='Irving Park') Irving Park
			li
				a(href='/s/41240', title='Addison') Addison
			li
				a(href='/s/40060', title='Belmont') Belmont
			li
				a(href='/s/41020', title='Logan Square') Logan Square
			li
				a(href='/s/40570', title='California') California
			li
				a(href='/s/40670', title="Western (O'Hare Branch)") Western (O'Hare Branch)
			li
				a(href='/s/40590', title='Damen') Damen
			li
				a(href='/s/40320', title='Division') Division
			li
				a(href='/s/41410', title='Chicago') Chicago
			li
				a(href='/s/40490', title='Grand') Grand
			li.transfer
				a(href='/s/40380', title='Clark/Lake') Clark/Lake
			li.transfer
				a(href='/s/40370', title='Washington') Washington
			li
				a(href='/s/40790', title='Monroe') Monroe
			li.transfer
				a(href='/s/40070', title='Jackson') Jackson
			li
				a(href='/s/41340', title='LaSalle') LaSalle
			li
				a(href='/s/40430', title='Clinton') Clinton
			li
				a(href='/s/40350', title='UIC–Halsted') UIC–Halsted
			li
				a(href='/s/40470', title='Racine') Racine
			li
				a(href='/s/40810', title='Illinois Medical District') Illinois Medical District
			li
				a(href='/s/40220', title='Western (Forest Park Branch)') Western (Forest Park Branch)
			li
				a(href='/s/40250', title='Kedzie–Homan') Kedzie–Homan
			li
				a(href='/s/40920', title='Pulaski') Pulaski
			li
				a(href='/s/40970', title='Cicero') Cicero
			li
				a(href='/s/40010', title='Austin') Austin
			li
				a(href='/s/40180', title='Oak Park') Oak Park
			li
				a(href='/s/40750', title='Harlem') Harlem
			li
				a(href='/s/40390', title='Forest Park') Forest Park
