.route(data-route-code='Brn')
	.route-title Brown
	.station-list
		ul
			li
				a(href='/s/41290', title='Kimball') Kimball
			li
				a(href='/s/41180', title='Kedzie') Kedzie
			li
				a(href='/s/40870', title='Francisco') Francisco
			li
				a(href='/s/41010', title='Rockwell') Rockwell
			li
				a(href='/s/41480', title='Western') Western
			li
				a(href='/s/40090', title='Damen') Damen
			li
				a(href='/s/41500', title='Montrose') Montrose
			li
				a(href='/s/41460', title='Irving Park') Irving Park
			li
				a(href='/s/41440', title='Addison') Addison
			li
				a(href='/s/41310', title='Paulina') Paulina
			li
				a(href='/s/40360', title='Southport') Southport
			li.transfer
				a(href='/s/41320', title='Belmont') Belmont
			li
				a(href='/s/41210', title='Wellington') Wellington
			li
				a(href='/s/40530', title='Diversey') Diversey
			li.transfer
				a(href='/s/41220', title='Fullerton') Fullerton
			li
				a(href='/s/40660', title='Armitage') Armitage
			li
				a(href='/s/40800', title='Sedgwick') Sedgwick
			li
				a(href='/s/40710', title='Chicago') Chicago
			li
				a(href='/s/40460', title='Merchandise Mart') Merchandise Mart
		hr.divider.loop
		ul
			li.transfer
				a(href='/s/40730', title='Washington/Wells') Washington/Wells
			li.transfer
				a(href='/s/40040', title='Quincy') Quincy
			li.transfer
				a(href='/s/40160', title='LaSalle/Van Buren') LaSalle/Van Buren
			li.transfer
				a(href='/s/40850', title='Harold Washington Library-S/VB') Harold Washington Library-S/VB
			li.transfer
				a(href='/s/40680', title='Adams/Wabash') Adams/Wabash
			li.transfer
				a(href='/s/40200', title='Randolph/Wabash') Randolph/Wabash
			li.transfer
				a(href='/s/41700', title='Washington/Wabash') Washington/Wabash
			li.transfer
				a(href='/s/40260', title='State/Lake') State/Lake
			li.transfer
				a(href='/s/40380', title='Clark/Lake') Clark/Lake
