.route(data-route-code='G')
	.route-title Green
	.station-list
		ul
			li
				a(href='/s/40020', title='Harlem/Lake') Harlem/Lake
			li
				a(href='/s/41350', title='Oak Park') Oak Park
			li
				a(href='/s/40610', title='Ridgeland') Ridgeland
			li
				a(href='/s/41260', title='Austin') Austin
			li
				a(href='/s/40280', title='Central') Central
			li
				a(href='/s/40700', title='Laramie') Laramie
			li
				a(href='/s/40480', title='Cicero') Cicero
			li
				a(href='/s/40030', title='Pulaski') Pulaski
			li
				a(href='/s/41670', title='Conservatory-Central Park Drive') Conservatory-Central Park Drive
			li
				a(href='/s/41070', title='Kedzie') Kedzie
			li
				a(href='/s/41360', title='California') California
			li.transfer
				a(href='/s/40170', title='Ashland') Ashland
			li
				a(href='/s/41510', title='Morgan') Morgan
			li.transfer
				a(href='/s/41160', title='Clinton') Clinton
			li.transfer
				a(href='/s/40380', title='Clark/Lake') Clark/Lake
			li.transfer
				a(href='/s/40260', title='State/Lake') State/Lake
			li.transfer
				a(href='/s/40200', title='Randolph/Wabash') Randolph/Wabash
			li.transfer
				a(href='/s/41700', title='Washington/Wabash') Washington/Wabash
			li.transfer
				a(href='/s/40680', title='Adams/Wabash') Adams/Wabash
			li.transfer
				a(href='/s/41400', title='Roosevelt') Roosevelt
			li
				a(href='/s/41690', title='Cermak-McCormick Place') Cermak-McCormick Place
			li
				a(href='/s/41120', title='35th-Bronzeville-IIT') 35th-Bronzeville-IIT
			li
				a(href='/s/40300', title='Indiana') Indiana
			li
				a(href='/s/41270', title='43rd') 43rd
			li
				a(href='/s/41080', title='47th') 47th
			li
				a(href='/s/40130', title='51st') 51st
			li
				a(href='/s/40510', title='Garfield') Garfield
		hr.divider.eastbranch
		ul
			li
				a(href='/s/41140', title='King Drive') King Drive
			li
				a(href='/s/40720', title='Cottage Grove') Cottage Grove
		hr.divider.westbranch
		ul
			li
				a(href='/s/40940', title='Halsted') Halsted
			li
				a(href='/s/40290', title='Ashland/63rd') Ashland/63rd
