.route(data-route-code='Org')
	.route-title Orange
	.station-list
		ul
			li.airport
				a(href='/s/40930', title='Midway') Midway
			li
				a(href='/s/40960', title='Pulaski') Pulaski
			li
				a(href='/s/41150', title='Kedzie') Kedzie
			li
				a(href='/s/40310', title='Western') Western
			li
				a(href='/s/40120', title='35th/Archer') 35th/Archer
			li
				a(href='/s/41060', title='Ashland') Ashland
			li
				a(href='/s/41130', title='Halsted') Halsted
			li.transfer
				a(href='/s/41400', title='Roosevelt') Roosevelt
		hr.divider.loop
		ul
			li.transfer
				a(href='/s/40850', title='Harold Washington Library-S/VB') Harold Washington Library-S/VB
			li.transfer
				a(href='/s/40160', title='LaSalle/Van Buren') LaSalle/Van Buren
			li.transfer
				a(href='/s/40040', title='Quincy') Quincy
			li.transfer
				a(href='/s/40730', title='Washington/Wells') Washington/Wells
			li.transfer
				a(href='/s/40380', title='Clark/Lake') Clark/Lake
			li.transfer
				a(href='/s/40260', title='State/Lake') State/Lake
			li.transfer
				a(href='/s/41700', title='Washington/Wabash') Washington/Wabash
			li.transfer
				a(href='/s/40200', title='Randolph/Wabash') Randolph/Wabash
			li.transfer
				a(href='/s/40680', title='Adams/Wabash') Adams/Wabash
