.route(data-route-code='Pink')
	.route-title Pink
	.station-list
		ul
			li
				a(href='/s/40580', title='54th/Cermak') 54th/Cermak
			li
				a(href='/s/40420', title='Cicero') Cicero
			li
				a(href='/s/40600', title='Kostner') Kostner
			li
				a(href='/s/40150', title='Pulaski') Pulaski
			li
				a(href='/s/40780', title='Central Park') Central Park
			li
				a(href='/s/41040', title='Kedzie') Kedzie
			li
				a(href='/s/40440', title='California') California
			li
				a(href='/s/40740', title='Western') Western
			li
				a(href='/s/40210', title='Damen') Damen
			li
				a(href='/s/40830', title='18th') 18th
			li
				a(href='/s/41030', title='Polk') Polk
			li.transfer
				a(href='/s/40170', title='Ashland') Ashland
			li
				a(href='/s/41510', title='Morgan') Morgan
			li.transfer
				a(href='/s/41160', title='Clinton') Clinton
		hr.divider.loop
		ul
			li.transfer
				a(href='/s/40380', title='Clark/Lake') Clark/Lake
			li.transfer
				a(href='/s/40260', title='State/Lake') State/Lake
			li.transfer
				a(href='/s/40200', title='Randolph/Wabash') Randolph/Wabash
			li.transfer
				a(href='/s/41700', title='Washington/Wabash') Washington/Wabash
			li.transfer
				a(href='/s/40680', title='Adams/Wabash') Adams/Wabash
			li.transfer
				a(href='/s/40850', title='Harold Washington Library-S/VB') Harold Washington Library-S/VB
			li.transfer
				a(href='/s/40160', title='LaSalle/Van Buren') LaSalle/Van Buren
			li.transfer
				a(href='/s/40040', title='Quincy') Quincy
			li.transfer
				a(href='/s/40730', title='Washington/Wells') Washington/Wells
