.route(data-route-code='P')
	.route-title Purple
	.station-list
		ul
			li
				a(href='/s/41050', title='Linden') Linden
			li
				a(href='/s/41250', title='Central') Central
			li
				a(href='/s/40400', title='Noyes') Noyes
			li
				a(href='/s/40520', title='Foster') Foster
			li
				a(href='/s/40050', title='Davis') Davis
			li
				a(href='/s/40690', title='Dempster') Dempster
			li
				a(href='/s/40270', title='Main') Main
			li
				a(href='/s/40840', title='South Boulevard') South Boulevard
			li.transfer
				a(href='/s/40900', title='Howard') Howard
			li.transfer
				a(href='/s/41320', title='Belmont') Belmont
			li
				a(href='/s/41210', title='Wellington') Wellington
			li
				a(href='/s/40530', title='Diversey') Diversey
			li.transfer
				a(href='/s/41220', title='Fullerton') Fullerton
			li
				a(href='/s/40660', title='Armitage') Armitage
			li
				a(href='/s/40800', title='Sedgwick') Sedgwick
			li
				a(href='/s/40710', title='Chicago') Chicago
			li
				a(href='/s/40460', title='Merchandise Mart') Merchandise Mart
		hr.divider.loop
		ul
			li.transfer
				a(href='/s/40380', title='Clark/Lake') Clark/Lake
			li.transfer
				a(href='/s/40260', title='State/Lake') State/Lake
			li.transfer
				a(href='/s/40200', title='Randolph/Wabash') Randolph/Wabash
			li.transfer
				a(href='/s/41700', title='Washington/Wabash') Washington/Wabash
			li.transfer
				a(href='/s/40680', title='Adams/Wabash') Adams/Wabash
			li.transfer
				a(href='/s/40850', title='Harold Washington Library-S/VB') Harold Washington Library-S/VB
			li.transfer
				a(href='/s/40160', title='LaSalle/Van Buren') LaSalle/Van Buren
			li.transfer
				a(href='/s/40040', title='Quincy') Quincy
			li.transfer
				a(href='/s/40730', title='Washington/Wells') Washington/Wells
