.route(data-route-code='Red')
	.route-title Red
	.station-list
		ul
			li.transfer
				a(href='/s/40900', title='Howard') Howard
			li
				a(href='/s/41190', title='Jarvis') Jarvis
			li
				a(href='/s/40100', title='Morse') Morse
			li
				a(href='/s/41300', title='Loyola') Loyola
			li
				a(href='/s/40760', title='Granville') Granville
			li
				a(href='/s/40880', title='Thorndale') Thorndale
			li
				a(href='/s/41380', title='Bryn Mawr') Bryn Mawr
			li
				a(href='/s/40340', title='Berwyn') Berwyn
			li
				a(href='/s/41200', title='Argyle') Argyle
			li
				a(href='/s/40770', title='Lawrence') Lawrence
			li
				a(href='/s/40540', title='Wilson') Wilson
			li
				a(href='/s/40080', title='Sheridan') Sheridan
			li
				a(href='/s/41420', title='Addison') Addison
			li.transfer
				a(href='/s/41320', title='Belmont') Belmont
			li.transfer
				a(href='/s/41220', title='Fullerton') Fullerton
			li
				a(href='/s/40650', title='North/Clybourn') North/Clybourn
			li
				a(href='/s/40630', title='Clark/Division') Clark/Division
			li
				a(href='/s/41450', title='Chicago') Chicago
			li
				a(href='/s/40330', title='Grand') Grand
			li.transfer
				a(href='/s/41660', title='Lake') Lake
			li
				a(href='/s/41090', title='Monroe') Monroe
			li.transfer
				a(href='/s/40560', title='Jackson') Jackson
			li
				a(href='/s/41490', title='Harrison') Harrison
			li.transfer
				a(href='/s/41400', title='Roosevelt') Roosevelt
			li
				a(href='/s/41000', title='Cermak-Chinatown') Cermak-Chinatown
			li
				a(href='/s/40190', title='Sox-35th') Sox-35th
			li
				a(href='/s/41230', title='47th') 47th
			li
				a(href='/s/41170', title='Garfield') Garfield
			li
				a(href='/s/40910', title='63rd') 63rd
			li
				a(href='/s/40990', title='69th') 69th
			li
				a(href='/s/40240', title='79th') 79th
			li
				a(href='/s/41430', title='87th') 87th
			li
				a(href='/s/40450', title='95th/Dan Ryan') 95th/Dan Ryan
