.route(data-route-code='Y')
	.route-title Yellow
	.station-list
		ul
			li
				a(href='/s/40140', title='Dempster-Skokie') Dempster-Skokie
			li
				a(href='/s/41680', title='Oakton-Skokie') Oakton-Skokie
			li.transfer
				a(href='/s/40900', title='Howard') Howard
